<!DOCTYPE html>
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- force mobile safari to use the width of the device as the width of the viewport and disable initial scale -->
		<meta name="viewport" content="width=device-width; initial-scale=1.0"> 
		<title>NJPP Prototype Application for Free and Reduced Price School Meals</title>
		<link href="{% static 'eat_apply/imgs/favicon.png' %}" type="image/png" rel="icon" />
		<link href="{% static 'eat_apply/css/screen.css' %}" media="screen" rel="stylesheet" type="text/css" />
		<!-- Google fonts for Source Serif Pro face-->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<h1 id="form-title">2016-2017 Application for Free and Reduced Price School Meals</h1>
		</header>
		<div id="form-content">
			{% block content %} something went wrong, try reloading and if that doesn't work contact support. {% endblock %}
		</div>
		<div id="district-contact-area">
			<h2>Have questions?</h2>
			<p>
				Contact <em>NJPP Unified School District</em> and someone will be happy to answer your questions
			</p>
			<p>
				<span class="contact-label">by phone:</span> 555.555.5555
			</p>
			<p>
				<span class="contact-label">by email:</span> <a href="mailto:#">eat-help@njppunified.edu</a>
			</p>
		</div>
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="{%static 'eat_apply/js/jquery.formset.js' %}"></script>
		<script type="text/javascript">
    		$(function() {
        		$('tbody').formset();
    		})
		</script>
	</body>
</html>